@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@import url("https://fonts.googleapis.com/css?family=Dosis|Titillium+Web");
@import "abstracts/variables";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  background-color: #f0efeb;
  text-align: center;
  font-family: 'Dosis', Sans-Serif;
  font-size: 4.3rem;
  font-family: 'Titillium Web', Sans-Serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  
  h2 {
    font-family: 'Dosis', Sans-Serif;
    font-family: 'Titillium Web', Sans-Serif; 
    
  }

  li {  
    list-style: none; 
  }
}

#mapid { 
  width: auto;
  height: 400px; 
}

.user__profile {
  border: 1px solid red;
  border-radius: .5em;
  padding: 10px 10px;
  background-color: rgb(139, 161, 161);
  width: 100vw;
  height: 100vh;

  &__container {
    border: 1px solid red;
    border-radius: .5em;
    padding: 10px 10px;
    background-color: aqua;
    margin: auto;
    width: 600px;
    height: 600px;
     
      .setup__container {
      border: 1px solid red;
      border-radius: .5em;
      background-color: bisque;
      padding: 10px 10px;
      margin: 10px 10px;
    }
    .roll__container {
      border: 1px solid red;
      border-radius: .5em;
      background-color: bisque;
      padding: 10px 10px;
      margin: 10px 10px;
    }
  }
}

.roll__show {
  border: 1px solid red;
  border-radius: .5em;
  padding: 10px 10px;
  background-color: rgb(139, 161, 161);
  width: 100vw;
  height: auto;
  
  &__container {
    border: 1px solid red;
    border-radius: .5em;
    padding: 10px 10px;
    background-color: aqua;
    margin: auto;
    width: auto;
    height: auto;
    
    &__title {
      border: 1px solid red;
      border-radius: .5em;
      background-color: bisque;
      padding: 10px 10px;
      margin: 10px 10px;
    }

    &__frames {
      border: 1px solid red;
      border-radius: .5em;
      background-color: bisque;
      padding: 10px 10px;
      margin: 10px 10px;
    }

    &__frames__title {
      border: 1px solid red;
      border-radius: .5em;
      background-color: orange;
      padding: 10px 10px;
      margin: 10px 10px;
    }

    &__frames__tile {
      border: 1px solid red;
      border-radius: .5em;
      background-color: green;
      padding: 10px 10px;
      margin: 10px 10px;
    }

    &__location__title {
      border: 1px solid red;
      border-radius: .5em;
      background-color: bisque;
      padding: 10px 10px;
      margin: 10px 10px;
    }

    &__map__container {
      border: 2px solid red;
      border-radius: .5em;
      background-color: hotpink;
      padding: 10px 10px;
      margin: 10px 10px;
      width: auto;
      height: auto;
    }
    &__map {
      border: 2px solid red;
      border-radius: .5em;
      background-color: yellow;
      padding: 10px 10px;
      margin: 10px 10px;
      width: auto;
      height: 450px;
    }
  }
}

.setup__show {
  border: 1px solid red;
  border-radius: .5em;
  padding: 10px 10px;
  background-color: rgb(139, 161, 161);
  width: 100vw;
  height: 100vh;

  &__container {
  border: 1px solid red;
  border-radius: .5em;
  padding: 10px 10px;
  background-color: aqua;
  margin: auto;
  width: 600px;
  height: auto;
    
    &__description {
      border: 1px solid red;
      border-radius: .5em;
      background-color: bisque;
      padding: 10px 10px;
      margin: 10px 10px;
    }

    &__notes {
      border: 1px solid red;
      border-radius: .5em;
      background-color: bisque;
      padding: 10px 10px;
      margin: 10px 10px;
    }
  }
}

.form {
  border: 1px solid red;
  border-radius: .5em;
  padding: 10px 10px;
  background-color: rgb(139, 161, 161);
  width: 100vw;
  height: auto;

  &.__setup {
    border: 1px solid red;
    border-radius: .5em;
    padding: 10px 10px;
    background-color: aqua;
    margin: auto;
    width: 900px;
    height: auto;
  }

  &.__roll {
    border: 1px solid red;
    border-radius: .5em;
    padding: 10px 10px;
    background-color: aqua;
    margin: auto;
    width: 900px;
    height: auto;
  }

  &.__frame {
    border: 1px solid red;
    border-radius: .5em;
    padding: 10px 10px;
    background-color: aqua;
    margin: auto;
    width: 900px;
    height: 500px;
  }
}