//COLORS
// $global-font-size: 62.5%;
// $global-width: rem-calc(1200);
$global-lineheight: 1.5;
$foundation-palette: (
  primary: #1779ba,
  secondary: #767676,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);
$page: #f0efeb;
$page-font: #f0efeb;
$page2: #e8dcd5;
$fa: #eb6534;
$dolphin-orange: #eb6534;
$buttons: #39a2ae;
$footer: #a5a58d;
$nav: #39a2ae;
$font: #5D4A4A;
$user-brown :#5D4A4A;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;
$body-background: $white;
$body-font-color: $black;